html, body {
    height: 100%;
    width: 100%;
}

.container {
    background: url('../img/background.jpeg');
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P';
    overflow: hidden;
}

.container .pokedex svg {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-top: 3%;
}

.pokedex {
    position: relative;
}

.pokemon {
    /*border: 2px solid #fff;*/
    background-color: #000;
    width: 170px;
    height: 140px;
    position: absolute;
    top: 50%;
    right: 55%;
    transform: rotate(-2deg);
    border-radius: 5%;
}

.pokemon img {
    display: inline-block;
    width: 100%;
    margin: -120px auto;
}

.pokeName {
    color: #fff;
    margin-top: 1em;
    font-size: 1.2em;
    text-align: center;
    transform: translate(140%, -40%);
    background-color: #000;
    width: 210px;
    height: 70px;
    border-radius: 5%;
    padding-top: 1em;
}

.pokeSearch {
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    position: relative;
}

.pokeSearch input {
    text-align: left;
}

.autocomplete {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    background: #fff;
    overflow-y: auto;
}

.autocomplete p {
    border-bottom: 1px solid #000;
    padding: 1rem;
    vertical-align: middle;
}